<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238161786917-ht5qkgv297ursl8e1hflrmlhfdi4l9qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238161786917-ht5qkgv297ursl8e1hflrmlhfdi4l9qd</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ol8GtGPhJyUHPJY7Jy1gjzl3pztyVxE</string>
	<key>GCM_SENDER_ID</key>
	<string>238161786917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luc.coffeapp</string>
	<key>PROJECT_ID</key>
	<string>coffee-app-1c426</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-app-1c426.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238161786917:ios:f942f9d416e4bb60a027cc</string>
</dict>
</plist>